.about {
  display: flex;
  justify-content: space-around;
}

.about-text {
  width: 40vw;
}

.photo-img {
  height: 500px;
  object-fit: contain;
  margin-left: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    margin-bottom: 32px;
  }

  .about-text {
    width: 80vw;
    text-align: center;
  }

  .photo-img {
    width: 80vw;
    height: auto;
    margin-left: 0;
  }
}
