.projects {
  width: 100%;
}

.projects-card {
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}

.projects-card img {
  max-width: 50%;
  max-height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-card:last-child {
  border-bottom: none;
}

.card-button {
  background-color: #495867;
  color: #f5f0f0;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 16px;
  border: 1px solid #495867;
}

.card-button:hover {
  background-color: #f5f0f0;
  color: #495867;
  transition: 0.2s;
  border: 1px solid #495867;
}

.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 32px;
}

@media (max-width: 1024px) {
  .projects-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects-card img {
    max-width: 100%;
    max-height: auto;
  }

  .desc {
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }

  .card-button {
    margin-right: 0px;
    width: 100%;
  }

  .project-links {
    width: 80%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
