.youtube {
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding-bottom: 32px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: stretch;
}

.bio {
  width: 40vw;
  margin-right: 24px;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.vid-example {
  margin-right: 24px;
  width: 50%;
  height: auto;
}

.vid-example img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner {
  max-width: 100%;
  object-fit: cover;
}

.banner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  background-color: black;
}

.banner-div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  background-color: #e0e0e0;
}

.button {
  margin-top: 16px;
  background-color: #495867;
  border: 1px solid #495867;
  color: #f5f0f0;
  padding: 16px 32px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.2s;
}

.button:hover {
  background-color: #f5f0f0;
  color: #495867;
  border: 1px solid #495867;
}
@media (max-width: 1024px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
  }

  .youtube {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner-div {
    height: auto;
    margin-right: 0;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    order: -1;
  }

  .youtube p {
    text-align: center;
    padding: 0;
  }

  .bio {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 16px;
    order: 0;
  }

  h1 {
    text-align: center;
  }

  .vid-example {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    order: -1;
  }

  .button {
    width: 100%;
    margin-right: 0;
    margin-top: 16px;
  }
}
