.youtube {
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
}

.bio {
  max-width: 40vw;
  margin-right: 24px;
  padding-right: 2rem;
}

.vid {
  margin-right: 24px;
}
